body{
    margin: 0;
    padding: 0;
    background: #7B2869;
    text-align: center;
}
.outer{
    border: 5px solid white;
    border-radius: 20px;
    margin: 10px 20px 30px 20px;
    overflow: hidden;
    background-color: goldenrod;
    
}

.outline{

    border: 5px solid white;
    border-radius: 20px;
    margin: 30px 30px 30px 30px;
    overflow: hidden;
   
}
.text{
   
    position:absolute;
    top: 10px;
    left: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #fffbac8c;
    width: 150px;
    height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-style: italic;
    
}

  .firstbox{
    width: 100%;
    height: 100px;
}
.fttext{
    position: absolute;
    top: 60px;
    left: 350px;
    color: white;
    font-family: 'Satisfy', 'cursive';
    font-weight: 500;
    font-style: italic;
    font-size: 30px;
}
.scbox {
    width: 100%;
    height: 150px;
    background-color: #F7F5EB;
    font-family: 'Satisfy', 'cursive';
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
   
}
.thbox{
    width: 100%;
    height: 140px;
    background-color: #EAE0DA;
}
.thtext{
    position: absolute;
    top: 300px;
    left: 450px;
    color: white;
    font-family: 'Satisfy', 'cursive';
    font-weight: 500;
    font-style: italic;
    font-size: 22px;
}
.furbox{
    width: 100%;
    height: 150px;
    background-color: #F8EDE3;
}
.fotext{
    position: absolute;
    top: 450px;
    left: 70px;
    color:black;
    font-family: 'Satisfy', 'cursive';
    font-weight: 500;
    font-style: italic;
    font-size: 22px;
}
.fthbox{
    width: 100%;
    height: 150px;
   
}
.fthtext{
    position: absolute;
    top: 600px;
    left: 450px;
    color: white;
    font-family: 'Satisfy', 'cursive';
    font-weight: 500;
    font-style: italic;
    font-size: 22px;
}
.sibox{
    width: 100%;
    height: 150px;
    background-color:#D0B8A8;
}
.sitext{
    position: absolute;
    top: 750px;
    left: 70px;
    color:black;
    font-family: 'Satisfy', 'cursive';
    font-weight: 500;
    font-style: italic;
    font-size: 22px;
}
.sevbox{
    width: 100%;
    height: 180px;
    
}
.sevtext{
    position: absolute;
    top: 900px;
    left: 450px;
    color: white;
    font-family: 'Satisfy', 'cursive';
    font-weight: 500;
    font-style: italic;
    font-size: 22px;
}

.tebox{
    width: 100%;
    height: 100px;
    background-color:#EFF5F5;
}
.tetext{
    display: flex;
    justify-content: space-evenly;
}


